node_modules/

# 生成的图片
assets/
*.png
*.jpg
*.jpeg
*.webp

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.DS_Store

# 输出目录（旧版）
ark_outputs/
.env
temp/
venv

.claude
.agents
.continue
.kiro
.skills-lock

.baoyu-skills/
baoyu-skill-assets
cover-image/
post-to-wechat/
infographic/
article-illustrator/
slide-deck/
midscene_run/